In [1]:
import numpy as np 
import pandas as pd 
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('headbrain.csv')
df = df.DataF

     HeadSize(cm3)  BrainWeight(grams)
0             4512                1530
1             3738                1297
2             4261                1335
3             3777                1282
4             4177                1590
..             ...                 ...
232           3214                1110
233           3394                1215
234           3233                1104
235           3352                1170
236           3391                1120

[237 rows x 2 columns]